{% extends 'MyRecipesBundle:Default:base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block body %}

<div class="uk-grid">
	{% for item in categorias %}
    	<div class="uk-width-medium-1-2 uk-width-small-1-1 uk-margin-large-bottom" >
    		<div class="uk-panel uk-panel-box uk-panel-header">
    			<a class="" href="{{ path('my_recipes_elementos_todos',{'categoria':item.ruta}) }}"><h2 class="uk-h2">{{ item.nombre }}</h2> </a>
				<a class="" href="{{ path('my_recipes_elementos_todos',{'categoria':item.ruta}) }}"><img class="uk-thumbnail" src="{{ asset('images/categorias/') ~ item.foto }}" alt="{{ item.nombre }}"></a>
				<p>{{ item.descripcion }}</p>
				<a class="" href="{{ path('my_recipes_elementos_todos',{'categoria':item.ruta}) }}"><h2 class="uk-button uk-button-primary" class="uk-h2">{% trans %}Leer más{% endtrans %}</h2> </a>
    		</div>
    	</div>
    {% endfor %}
</div>
	
	{% if is_granted('ROLE_USER') %}
    	<a class="uk-button uk-button-primary" href="{{ path('my_recipes_categoria_todas',{'formato':'lista'}) }}">{% trans %}Editar{% endtrans %}</a>
	{% endif %}
		
{% endblock %}