{% extends 'MyRecipesBundle:Default:base.html.twig' %}

{% block title %}{{ categoria.nombre }}{% endblock %}

{% block body %}
		<h1>{{ categoria.nombre }} </h1>
		<h3>{{ categoria.ruta }} </h3>
		<h2>{{ categoria.foto }} </h2>
		<p>{{ categoria.descripcion }}</p>
		

		{% if is_granted('ROLE_USER') %}
    		<a class="uk-button uk-button-primary" href="{{ path('my_recipes_categoria_edit_id',{'id': categoria.id }) }}">Editar</a>
		{% endif %}
{% endblock %}