{% extends 'MyRecipesBundle:Default:base.html.twig' %}

{% block title %}Caracteristicas{% endblock %}

{% block body %}

<table class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%" id="example">
<thead>
        <tr>
            <th>{% trans %}id{% endtrans %}</th>
            <th>{% trans %}Nombre{% endtrans %}</th>
            <th>{% trans %}Editar{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
	{% for item in caracteristicas %}
	<tr>
	<td>{{ item.id }}</td>
	<td>{{ item.nombre }}</td>
	<td><a class="uk-icon-hover uk-icon-edit" href="{{ path('my_recipes_caracteristica_ver_id',{'caracteristica_id': item.id }) }}"></a></td>
    	 </tr>
    {% endfor %}
    </tbody>
</table>
	
	{% if is_granted('ROLE_USER') %}
    	<a class="uk-button uk-button-primary" href="{{path('my_recipes_caracteristica_create')}}">{% trans %}Crear caracteristica{% endtrans %}</a>
	{% endif %}
		
{% endblock %}

{% block javascript %}
{{ parent() }}
<script >
$(document).ready(function() {
    $('#example').DataTable({
    "language": {
                "url": "/public/js/translation/{% trans %}Spanish{% endtrans %}.json"
            }
    });
} );
</script>
{% endblock %}