{% extends 'MyRecipesBundle:Default:base.html.twig' %}

{% block body %}

		<h1>{{ recipe.name }}</h1>
		<h2>{{ recipe.author.name }} {{ recipe.author.surname }}</h2>
		<h4 class="dificultad-{{ recipe|cssClass }}">
		{% if recipe.difficulty == 'facil' %}
		No tendra problemas con esta receta
		{% elseif recipe.difficulty == 'media' %}
		Esta receta requiere conocimientos avanzados
		{% else %}
		Seras un TopChef!!!
		{% endif %}
		</h4>
		<p>{{ recipe.description }}</p>
		<h3>Ingredientes</h3>
		<ul>
			{% for item in recipe.ingredients%}
				<li>{{ item.name }}</li>
			{% endfor %}
		</ul>
{% endblock %}