<!DOCTYPE html>
<html>
	<head>
		<title>{{ recipe.name }}</title>
	</head>
	<body>
		<h1>{{ recipe.name }}</h1>
		<h2>{{ recipe.author.name }} {{ recipe.author.surname }}</h2>
		<p>{{ recipe.description }}</p>
		<h3>Ingredientes</h3>
		<ul>
			{% for item in recipe.ingredients%}
				<li>{{ item.name }}</li>
			{% endfor %}
		</ul>
	</body>
</html>