{# src/My/RecipesBundle/Resources/views/Elemento/create.html.twig #}
{% extends 'MyRecipesBundle:Default:base.html.twig' %}

{% block title %}Crear Lugar{% endblock %}

{% block body %}
   {{ form_start(form, {'attr' : { 'id' : 'author-create', 'class' : 'uk-form uk-form-horizontal'}}) }}
    {{ form_errors(form) }}
    	<fieldset data-uk-margin>
        <legend>Crear Elemento</legend>
     		<div class="uk-form-row">
            	{{ form_label(form.nombre, null, {'label_attr' : { 'class' : 'uk-form-label'}}) }}
            	{{ form_errors(form.nombre) }}
            	<div class="uk-form-controls">
            		{{ form_widget(form.nombre) }}
            	</div>
            </div>
  
       		<div class="uk-form-row">
            {{ form_label(form.logotipo, null, {'label_attr' : { 'class' : 'uk-form-label'}}) }} 
            {{ form_errors(form.logotipo) }}
            <div class="uk-form-controls">
            {{ form_widget(form.logotipo) }}
            </div>
            </div>
            <div class="uk-form-row">
                {{ form_label(form.categoria, null, {'label_attr' : { 'class' : 'uk-form-label'}}) }}
                {{ form_errors(form.categoria) }}
                <div class="uk-form-controls">
                    {{ form_widget(form.categoria) }}
                </div>
            </div>
            <div class="uk-form-row">
                {{ form_label(form.usuario, null, {'label_attr' : { 'class' : 'uk-form-label'}}) }}
                {{ form_errors(form.usuario) }}
                <div class="uk-form-controls">
                    {{ form_widget(form.usuario) }}
                </div>
            </div>
     		<div class="uk-form-row">
            {{ form_label(form.descripcion, null, {'label_attr' : { 'class' : 'uk-form-label'}}) }} 
            {{ form_errors(form.descripcion) }}
            <div class="uk-form-controls">
            {{ form_widget(form.descripcion) }}
            </div>
            </div>
     		<div class="uk-form-row">
        	{{ form_widget(form.Guardar, {'attr': {'class': 'uk-button'}}) }}
        	</div>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}